crawl_iosys_hp_langdock.json
{
  "name": "crawl_iosys_hp_langdock",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v2/crawl",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $json.url, limit: 100 }) }}",
        "options": {}
      },
      "id": "start_crawl",
      "name": "Start Firecrawl",
      "position": [
        160,
        448
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "credentials": {
        "httpBearerAuth": {
          "id": "V78Y4qsb0qTmIKWX",
          "name": "Bearer Auth Firecrawl.dev"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Start Firecrawl').item.json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "options": {}
      },
      "id": "check_status",
      "name": "Check Crawl Status",
      "position": [
        384,
        448
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "credentials": {
        "httpBearerAuth": {
          "id": "V78Y4qsb0qTmIKWX",
          "name": "Bearer Auth Firecrawl.dev"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "split_documents",
      "name": "Split Documents",
      "position": [
        1056,
        448
      ],
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1
    },
    {
      "parameters": {
        "path": "=/iosys/media/webpage/source/{{ (\n  ($json.metadata.sourceURL || '')\n    .replace(/^https?:\\/\\/(www\\.)?/, '')\n    .split('/')[0]\n    .replace(/\\./g, '_')\n) }}/{{ (\n  ($json.metadata.sourceURL || '')\n    .replace(/^https?:\\/\\/(www\\.)?/, '')\n    // remove only the hostname (everything up to first '/')\n    .replace(/^[^\\/]+/, '')\n    // remove leading slash left by previous replace\n    .replace(/^\\//, '')\n    .replace(/\\//g, '_')\n    .replace(/[^A-Za-z0-9._-]/g, '_')\n    .replace(/_{2,}/g, '_')\n    .replace(/^[_\\.]+|[_\\.]+$/g, '')\n) || 'homepage' }}.md",
        "fileContent": "={{ $json.markdown }}"
      },
      "id": "upload_to_nextcloud",
      "name": "Upload to Nextcloud",
      "position": [
        1280,
        352
      ],
      "type": "n8n-nodes-base.nextCloud",
      "typeVersion": 1,
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "nextCloudApi": {
          "id": "M02sF5RaU3mOhg0m",
          "name": "NextCloud account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Set the URL to crawl\nconst urlToCrawl = 'https://iosys.swiss';\n\nreturn [{ json: { url: urlToCrawl } }];"
      },
      "id": "e92a0311-3e1b-40c4-ba42-8390208fc9e8",
      "name": "Set URL",
      "position": [
        -64,
        448
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $('Check Crawl Status').last().json.status }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "completed"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "c2d07855-b2e1-4640-82aa-0a43af142c2a",
      "name": "Is Completed?",
      "position": [
        832,
        448
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "29db0d74-1be4-4d2b-8f18-4fb1aca6a1e9",
      "name": "Wait",
      "position": [
        608,
        376
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "be85628f-6f57-4c15-b9d3-0af0c68511e8"
    },
    {
      "parameters": {
        "jsCode": "// Prepare Langdock metadata and filename (matches Nextcloud naming)\nreturn items.map(item => {\n  const json = item.json || {};\n  const sourceUrl = json.metadata?.sourceURL || '';\n  let slug = sourceUrl.replace('https://iosys.swiss', '').replace(/\\//g, '_');\n  if (!slug) slug = 'homepage';\n  const fileName = `${slug}.md`;\n\n  return {\n    json: {\n      ...json,\n      knowledgeFolderId: '2fb738ae-93b1-4a0c-814a-fa38bd052629',\n      fileName,\n      sourceUrl,\n    },\n    binary: item.binary,\n  };\n});"
      },
      "id": "prepare_langdock",
      "name": "Prepare Langdock",
      "position": [
        1504,
        544
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Convert markdown text to base64 binary for multipart upload\nreturn items.map(item => {\n  const { fileName, markdown } = item.json;\n  const b64 = Buffer.from(markdown || '', 'utf8').toString('base64');\n  item.binary = item.binary || {};\n  item.binary.file = {\n    data: b64,\n    mimeType: 'text/markdown',\n    fileName: fileName || 'document.md',\n  };\n  return item;\n});"
      },
      "id": "markdown_to_binary",
      "name": "Markdown to Binary",
      "position": [
        1728,
        544
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "={{ 'https://api.langdock.com/knowledge/' + $json.knowledgeFolderId + '/list' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "options": {}
      },
      "id": "list_langdock_files",
      "name": "List Langdock Files",
      "position": [
        1952,
        544
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "httpBearerAuth": {
          "id": "U5RnNHJAslcEHmQD",
          "name": "Bearer Auth Langdock"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Wrap list response under langdockList to avoid clobbering document fields\nreturn items.map(item => ({ json: { langdockList: item.json } }));"
      },
      "id": "wrap_langdock_list",
      "name": "Wrap Langdock List",
      "position": [
        2176,
        544
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Input 1: documents from Markdown to Binary (with fileName, binary)\n// Input 2: Langdock list from Wrap Langdock List (with langdockList.result array)\n\nconst documents = $('Markdown to Binary').all();\nconst langdockData = $('Wrap Langdock List').first();\nconst langdockList = langdockData?.json?.langdockList?.result || [];\n\n// Build a Map of existing files by name for fast lookup\nconst existingFilesMap = new Map();\nif (Array.isArray(langdockList)) {\n  langdockList.forEach(entry => {\n    const name = entry.name; // Use 'name' field from Langdock\n    if (name) {\n      existingFilesMap.set(name, entry);\n    }\n  });\n}\n\nreturn documents.map(doc => {\n  const fileName = doc.json.fileName; // Compare with 'fileName' from documents\n  const match = existingFilesMap.get(fileName);\n  const existsInLangdock = !!match;\n  const attachmentId = match?.id || null;\n\n  return {\n    json: {\n      ...doc.json,\n      // Enriched comparison fields\n      existsInLangdock,      // boolean: true if file already exists\n      attachmentId,           // string|null: attachment ID if exists\n      isNew: !existsInLangdock, // boolean: true if needs upload\n      langdockMatch: match || null // full match object for reference\n    },\n    binary: doc.binary\n  };\n});"
      },
      "id": "find_langdock_attachment",
      "name": "Find Langdock Attachment",
      "position": [
        2400,
        544
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://api.langdock.com/knowledge/' + $json.knowledgeFolderId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "file"
            },
            {
              "name": "attachmentId",
              "value": "={{ $json.attachmentId }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 25
            }
          }
        }
      },
      "id": "update_langdock_attachment",
      "name": "Update Langdock Attachment",
      "position": [
        2848,
        448
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "credentials": {
        "httpBearerAuth": {
          "id": "U5RnNHJAslcEHmQD",
          "name": "Bearer Auth Langdock"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.langdock.com/knowledge/' + $json.knowledgeFolderId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "file"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {}
          }
        }
      },
      "id": "upload_langdock_file",
      "name": "Upload Langdock File",
      "position": [
        2848,
        640
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "credentials": {
        "httpBearerAuth": {
          "id": "U5RnNHJAslcEHmQD",
          "name": "Bearer Auth Langdock"
        },
        "httpHeaderAuth": {
          "id": "r0TU3gcdRXYq32jW",
          "name": "Header Auth (Langdock)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d5859d33-c8aa-4179-953d-cbbdcadccf42",
              "leftValue": "={{ $json.metadata.ogLocale }}",
              "rightValue": "en_US",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1280,
        544
      ],
      "id": "a7ae622f-b583-4539-9706-1fe9dc052e28",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.existsInLangdock || '' }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "rightValue": "true"
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "has_langdock_attachment",
      "name": "Exists in Langdock?",
      "position": [
        2624,
        544
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 3,
              "triggerAtHour": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -288,
        448
      ],
      "id": "59fb3a41-e32a-43a7-ade7-78807062d6c0",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Check Crawl Status": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait",
            "type": "main"
          }
        ]
      ]
    },
    "Find Langdock Attachment": {
      "main": [
        [
          {
            "node": "Exists in Langdock?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Completed?": {
      "main": [
        [
          {
            "node": "Split Documents",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Crawl Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Langdock Files": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wrap Langdock List",
            "type": "main"
          }
        ]
      ]
    },
    "Markdown to Binary": {
      "main": [
        [
          {
            "node": "List Langdock Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Langdock": {
      "main": [
        [
          {
            "node": "Markdown to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set URL": {
      "main": [
        [
          {
            "node": "Start Firecrawl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Documents": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload to Nextcloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Firecrawl": {
      "main": [
        [
          {
            "index": 0,
            "node": "Check Crawl Status",
            "type": "main"
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "index": 0,
            "node": "Is Completed?",
            "type": "main"
          }
        ]
      ]
    },
    "Wrap Langdock List": {
      "main": [
        [
          {
            "node": "Find Langdock Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Nextcloud": {
      "main": [
        []
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Prepare Langdock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exists in Langdock?": {
      "main": [
        [
          {
            "node": "Update Langdock Attachment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload Langdock File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "7611866b-8667-4a96-9884-0b526225e9f0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e976390f5ef11b641711d82a56572a5dc16a3f88b484d048908c4a9edf4b17f1"
  },
  "id": "PsnVVQABETIfsYFM",
  "tags": []
}