firecrawl-to-nextcloud.json
{
  "name": "Firecrawl to Nextcloud",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Manual Trigger",
      "position": [
        -240,
        528
      ],
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v2/crawl",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $json.url, limit: 100 }) }}",
        "options": {}
      },
      "id": "start_crawl",
      "name": "Start Firecrawl",
      "position": [
        208,
        528
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "credentials": {
        "httpBearerAuth": {
          "id": "V78Y4qsb0qTmIKWX",
          "name": "Bearer Auth Firecrawl.dev"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Start Firecrawl').item.json.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "options": {}
      },
      "id": "check_status",
      "name": "Check Crawl Status",
      "position": [
        432,
        528
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "credentials": {
        "httpBearerAuth": {
          "id": "V78Y4qsb0qTmIKWX",
          "name": "Bearer Auth Firecrawl.dev"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "split_documents",
      "name": "Split Documents",
      "position": [
        1104,
        528
      ],
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1
    },
    {
      "parameters": {
        "path": "=/iosys/media/webpage/source/{{ (\n  ($json.metadata.sourceURL || '')\n    .replace(/^\\s+/, '')\n    .replace(/^https?:\\/\\/(www\\.)?iosys\\.swiss/i, '')\n    .replace(/[^A-Za-z0-9._-]/g, '_')\n    .replace(/^[_\\.]+/, '')\n  ) || 'homepage' }}.md",
        "fileContent": "={{ $json.markdown }}"
      },
      "id": "upload_to_nextcloud",
      "name": "Upload to Nextcloud",
      "position": [
        1328,
        528
      ],
      "type": "n8n-nodes-base.nextCloud",
      "typeVersion": 1,
      "credentials": {
        "nextCloudApi": {
          "id": "M02sF5RaU3mOhg0m",
          "name": "NextCloud account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Set the URL to crawl\nconst urlToCrawl = 'https://iosys.swiss';\n\nreturn [{ json: { url: urlToCrawl } }];"
      },
      "id": "e92a0311-3e1b-40c4-ba42-8390208fc9e8",
      "name": "Set URL",
      "position": [
        -16,
        528
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $('Check Crawl Status').last().json.status }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "completed"
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "c2d07855-b2e1-4640-82aa-0a43af142c2a",
      "name": "Is Completed?",
      "position": [
        880,
        528
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "29db0d74-1be4-4d2b-8f18-4fb1aca6a1e9",
      "name": "Wait",
      "position": [
        656,
        528
      ],
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "webhookId": "be85628f-6f57-4c15-b9d3-0af0c68511e8"
    },
    {
      "parameters": {
        "jsCode": "// Prepare Langdock metadata and filename (matches Nextcloud naming)\nreturn items.map(item => {\n  const json = item.json || {};\n  const sourceUrl = json.metadata?.sourceURL || '';\n  let slug = sourceUrl.replace('https://iosys.swiss', '').replace(/\\//g, '_');\n  if (!slug) slug = 'homepage';\n  const fileName = `${slug}.md`;\n\n  return {\n    json: {\n      ...json,\n      knowledgeFolderId: '2fb738ae-93b1-4a0c-814a-fa38bd052629',\n      fileName,\n      sourceUrl,\n    },\n    binary: item.binary,\n  };\n});"
      },
      "id": "prepare_langdock",
      "name": "Prepare Langdock",
      "position": [
        1552,
        528
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Convert markdown text to base64 binary for multipart upload\nreturn items.map(item => {\n  const { fileName, markdown } = item.json;\n  const b64 = Buffer.from(markdown || '', 'utf8').toString('base64');\n  item.binary = item.binary || {};\n  item.binary.file = {\n    data: b64,\n    mimeType: 'text/markdown',\n    fileName: fileName || 'document.md',\n  };\n  return item;\n});"
      },
      "id": "markdown_to_binary",
      "name": "Markdown to Binary",
      "position": [
        1776,
        528
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "={{ 'https://api.langdock.com/knowledge/' + $json.knowledgeFolderId + '/list' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "options": {}
      },
      "id": "list_langdock_files",
      "name": "List Langdock Files",
      "position": [
        2000,
        608
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "credentials": {
        "httpBearerAuth": {
          "id": "U5RnNHJAslcEHmQD",
          "name": "Bearer Auth Langdock"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Wrap list response under langdockList to avoid clobbering document fields\nreturn items.map(item => ({ json: { langdockList: item.json } }));"
      },
      "id": "wrap_langdock_list",
      "name": "Wrap Langdock List",
      "position": [
        2224,
        608
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "id": "merge_langdock_context",
      "name": "Merge Langdock Context",
      "position": [
        2448,
        528
      ],
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Find attachment by exact filename\nreturn items.map(item => {\n  const list = item.json.langdockList?.files || item.json.langdockList?.attachments || [];\n  const fileName = item.json.fileName;\n  const match = Array.isArray(list) ? list.find(entry => entry.fileName === fileName || entry.filename === fileName || entry.name === fileName) : undefined;\n  const attachmentId = match?.id || match?.attachmentId;\n  return {\n    json: { ...item.json, attachmentId },\n    binary: item.binary,\n  };\n});"
      },
      "id": "find_langdock_attachment",
      "name": "Find Langdock Attachment",
      "position": [
        2672,
        528
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.attachmentId || '' }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": ""
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "has_langdock_attachment",
      "name": "Has Langdock Attachment?",
      "position": [
        2896,
        528
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://api.langdock.com/knowledge/' + $json.knowledgeFolderId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "options": {}
      },
      "id": "update_langdock_attachment",
      "name": "Update Langdock Attachment",
      "position": [
        3120,
        432
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "credentials": {
        "httpBearerAuth": {
          "id": "U5RnNHJAslcEHmQD",
          "name": "Bearer Auth Langdock"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.langdock.com/knowledge/' + $json.knowledgeFolderId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "options": {}
      },
      "id": "upload_langdock_file",
      "name": "Upload Langdock File",
      "position": [
        3120,
        624
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "credentials": {
        "httpBearerAuth": {
          "id": "U5RnNHJAslcEHmQD",
          "name": "Bearer Auth Langdock"
        }
      }
    }
  ],
  "connections": {
    "Check Crawl Status": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wait",
            "type": "main"
          }
        ]
      ]
    },
    "Find Langdock Attachment": {
      "main": [
        [
          {
            "index": 0,
            "node": "Has Langdock Attachment?",
            "type": "main"
          }
        ]
      ]
    },
    "Has Langdock Attachment?": {
      "main": [
        [
          {
            "index": 0,
            "node": "Upload Langdock File",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Update Langdock Attachment",
            "type": "main"
          }
        ]
      ]
    },
    "Is Completed?": {
      "main": [
        [
          {
            "index": 0,
            "node": "Split Documents",
            "type": "main"
          }
        ],
        [
          {
            "node": "Check Crawl Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Langdock Files": {
      "main": [
        [
          {
            "index": 0,
            "node": "Wrap Langdock List",
            "type": "main"
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "Set URL",
            "type": "main"
          }
        ]
      ]
    },
    "Markdown to Binary": {
      "main": [
        [
          {
            "index": 0,
            "node": "Merge Langdock Context",
            "type": "main"
          },
          {
            "index": 0,
            "node": "List Langdock Files",
            "type": "main"
          }
        ]
      ]
    },
    "Merge Langdock Context": {
      "main": [
        [
          {
            "index": 0,
            "node": "Find Langdock Attachment",
            "type": "main"
          }
        ]
      ]
    },
    "Prepare Langdock": {
      "main": [
        [
          {
            "index": 0,
            "node": "Markdown to Binary",
            "type": "main"
          }
        ]
      ]
    },
    "Set URL": {
      "main": [
        [
          {
            "index": 0,
            "node": "Start Firecrawl",
            "type": "main"
          }
        ]
      ]
    },
    "Split Documents": {
      "main": [
        [
          {
            "index": 0,
            "node": "Upload to Nextcloud",
            "type": "main"
          }
        ]
      ]
    },
    "Start Firecrawl": {
      "main": [
        [
          {
            "index": 0,
            "node": "Check Crawl Status",
            "type": "main"
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "index": 0,
            "node": "Is Completed?",
            "type": "main"
          }
        ]
      ]
    },
    "Wrap Langdock List": {
      "main": [
        [
          {
            "index": 1,
            "node": "Merge Langdock Context",
            "type": "main"
          }
        ]
      ]
    },
    "Upload to Nextcloud": {
      "main": [
        [
          {
            "node": "Prepare Langdock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
